body {
  font-family: "Ubuntu", sans-serif;
}

.wrapper {
  background-image: url("../images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  height: 100%;
}

.form-wrapper {
  margin: auto;
  width: fit-content;
  background: #ffffff;
}

.nav-menu {
  background: rgba(0, 0, 0, 0.4);
  position: relative;
  padding: 18px 79px;
  display: flex;
  justify-content: space-between;
}

.main-logo {
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
  color: #ffffff;
  transition: 0.5s;
}

.nav-icons {
  display: flex;
  align-items: center;
}

.link-icon {
  margin-right: 27px;
  width: 21px;
}

path {
  transition: 0.5s;
}

.vertical-line {
  border-left: 1px solid rgba(255, 255, 255, 0.9);
  height: 19px;
  opacity: 0.5;
}

.welcome {
  margin-left: 27px;
}

.reg-link {
  color: #ffffff;
  transition: 0.5s;
}

.main-logo:hover,
.link-icon:hover path,
.reg-link:hover {
  color: #01813f;
  fill: #01813f;
}

.form-wrapper {
  padding: 31px 60px 38px;
}

.form-section {
  padding: 54px 0 74px 0;
}

.form-wrapper::before {
  content: "";
  display: inline-block;
  padding: 10px;
  background-color: #01813f;
  position: relative;
  left: -60px;
  top: 23px;
}

.form-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  align-items: center;
}

.signup {
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  color: #434343;
}

.login {
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #3cb878;
  transition: 0.5s;
}

.login:hover {
  color: #01813f;
  text-decoration: underline;
}

.form-links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 31px;
}

.form-link {
  padding: 17px 22px 17px 17px;
  width: 37%;
  background-color: #305db8;
  border-radius: 5px;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #ffffff;
  transition: 0.5s;
}

.link-icon::after {
  content: "";
  border-left: 1px solid #0a162f;
  height: 28px;
  opacity: 0.1;
  margin-left: 18px;
}

.form-link:nth-child(even) {
  background-color: #df4a32;
  padding: 17px 27px 17px 12px;
}

.form-link:hover {
  background-color: #022263;
}

.form-link:nth-child(even):hover {
  background-color: #ab1f09;
}

.divider {
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #848484;
  text-align: center;
  overflow: hidden;
  margin-bottom: 12px;
}

.divider:before,
.divider:after {
  content: "";
  background-color: #f2f2f2;
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.divider:before {
  right: 0.3em;
  margin-left: -50%;
}

.divider:after {
  left: 0.3em;
  margin-right: -50%;
}

.form-fields {
  display: flex;
  flex-direction: column;
}

.input-field {
  padding: 15px 19px;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  margin-bottom: 15px;
  transition: 0.5s;
}

.input-field:focus {
  outline: none;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.accept {
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #434343;
}

.terms-link {
  color: #3cb878;
  transition: 0.5s;
}

.terms-link:hover {
  color: #01813f;
  text-decoration: underline;
}

.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  transition: 0.5s;
}

.checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.checkbox + label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #f2f2f2;
  margin-right: 8px;
  background-repeat: no-repeat;
  background-position: center center;
  transition: 0.5s;
}

.checkbox:checked + label::before {
  transition: 0.5s;
  background-image: url("../images/checked.svg");
}

.submit {
  margin-top: 20px;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  background: rgba(60, 184, 120, 0.8);
  border-radius: 4px;
  border: none;
  padding: 16px 99px;
  transition: 0.5s;
  cursor: pointer;
}

.submit:hover {
  background: #01813f;
}

.theme-switch-icon {
  margin-left: 20px;
  cursor: pointer;
  transition: .5s;
}

.theme-switch-icon:hover {
  color: #01813f;
}